<h1> Inicio de sesión </h1>
<!--
<form (ngSubmit)="onLogin()" #myForm="ngForm">
  <div class="center">
    <h1 class="h1"> Iniciar sesión </h1>
    <div class="input-group">
      <label for="email" class="label"> Email </label> <br>
      <input type="text" name="email"  required #emailInputRequired="ngModel" id="email" class="input" [(ngModel)]="register.email" [ngClass]="{
        'valid': emailInputRequired.valid,
        'invalid': emailInputRequired.invalid
      }">
      <p *ngIf="emailInputRequired.invalid" class="mensaje"> El correo no puede estar vacío </p>
    </div>
    <div class="input-group">
      <label for="password" class="label"> Password </label> <br>
      <input type="text" name="password" minlength="5" required #passwordInput="ngModel" id="password" class="input" [(ngModel)]="register.password" [ngClass]="{
        'valid': passwordInput.valid,
        'invalid': passwordInput.invalid
      }">
      <p *ngIf="passwordInput.invalid" class="mensaje"> La constraseña debe tener mínimo 5 caracteres </p>
    </div>
    <div class="buttondiv">
      <button [disabled]="myForm.invalid" type="submit" class="button"> Inicia sesión </button>
    </div>
    <div class="linkdiv">
      <a href="./app.component.html" class="a"> Regístrate aquí </a>
    </div>
</div>
</form>
-->
