/* You can add global styles to this file, and also import other style files */
@import url(../src/styles/reset.scss);
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import '~bootstrap/scss/bootstrap';
@import "/src/app/components/spinner/spinner.component.scss";

*{
  font-family: Helvetica;
  font-size: small;
}

button{
  border-radius: 5px;
  border: none;
  margin: 5px;
}
.products--grid{
  app-img{
    img{
      border-radius: 10px;
    }
  }
}
